.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Restart{
float:right;
margin-right: 7px;
margin-top: 10px;}


.titlebg{

  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open Sans",sans-serif;
font-style: italic;
color:  white;
  background-color:  #DC4405;
}
.osuimg{
  margin-left: -25px;
}
.link {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.link .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;

}
.link .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.link:hover .tooltiptext {
    visibility: visible;
}
.tooltiptext{
  font-size: 9px;
}
