* {

 font-family: Helvetica !important;
}

.imgpic{
  width: 250px;
  margin-left: 20px;
  margin-right: 25px;
  height: 80px;

}
.titlename{
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.titlename:hover{
  text-decoration: none;
  color:inherit;
}
.Restart{
float:right;
margin-right: 7px;
margin-top: 10px;}

.format{
}
  .color{
    color:  #DC4405;
  }
.titlebg{


  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -.25px;



color:  white;
  background-color:  #DC4405;
}



.tabbing{
list-style: none;
padding: 0;
}

.q-title{
margin-bottom: 50px;
padding-top: 10px;
}
.log{

}


.fullback{

}

.title{
  font-size: 25px;
}
.heading{


}
.test{  float: left;
  background-color: black;
  color: white;
  padding-top:20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px;
  height: 130vh;
  /*fix for later
  height: 100%;
  position: fixed;
  */
  bottom: 0;}
.left-sidebar{
  float: left;
  background-color: black;
  color: white;
  padding-top:20px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  border-radius: 15%;
  /*fix for later
  height: 100%;
  position: fixed;
  */


}
.margin-top{
  margin-top: 5px;
}
.bod{
margin-top: 20px;

}

#pdf{
  position: relative;
  font-size: 16px;
  color: white;
  height: auto;
max-width: 1400px;

     overflow: hidden;
     white-space: pre-line;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */

}

.description{
white-space: pre-line;     /* Since CSS 2.1 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
font-family: Georgia;
font-size: 14px;

}

.logcontainer{


}

.header{
  list-style: none;
  text-align: center;
}
.space{
display: inline-block;
margin-right: 5px;
margin-bottom: 5px;
}
.Hide_but{

  margin-top: 10px;

}
.but{
  width: 500px;
   word-wrap: break-word;

}
.buttonmarg{
  margin-right: 5px;
}
.but-wrap{
white-space:normal !important;
    max-width:1000px;
}
p{
  font-family: "Georgia";
}
.warning{

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em
}
.mainq{
  margin-top: 20px;
  margin-left: 350px;
  margin-right: 75px;
  max-width: 1000px;
}
.openlog{
  float: right;
  background-color: black;
  color: white;
  padding-top:20px;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;

width: 40%;
height: 100%;

}
.contactheader{
  font-size: 16px;
  float: right;
  padding-right: 20px;
  padding-top: 10px;
}
.contactlog{
  font-size: 16px;
  margin-top: 30px;
  text-align: center;

}
.new{
  display: inline-block;
  margin-left:
}
.removelist{
  list-style: none;
}
.newt{
  display: inline-block;

  margin-right: 7px;
}
.endbuttons{
  list-style: none;
}
.reset{
width: 133px;

}
.finalsteps{
  padding-bottom: -20px;

}
.col-Style{
  min-width: 200px;
  white-space: normal;

}
.bottomcontainer{
  margin-left: 40px;
}
.parser{
  color: rgb(0, 123, 255);


}
[data-simplebar] {
    position: relative;
    z-index: 0;
    overflow: hidden!important;
    max-height: inherit;
    -webkit-overflow-scrolling: touch; /* Trigger native scrolling for mobile, if not supported, plugin is used. */
}

[data-simplebar="init"] {
    display: flex;
}

[data-simplebar] .simplebar-scroll-content,
[data-simplebar] .simplebar-content {
    overflow: hidden;
}

[data-simplebar="init"] .simplebar-scroll-content,
[data-simplebar="init"] .simplebar-content {
    overflow: scroll;
}

.simplebar-scroll-content {
    overflow-x: hidden!important;
    min-width: 100%!important;
    max-height: inherit!important;
    box-sizing: content-box!important;
}

.simplebar-content {
    overflow-y: hidden!important;
    box-sizing: border-box!important;
    min-height: 100%!important;
}

.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 11px;
    pointer-events: none;
    box-shadow: inset 0 0 5px grey;
     border-radius: 10px;
}

.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: 7px;
    min-height: 10px;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: "";
    border-radius: 10px;
    background:  #D73F09;
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;

}

.simplebar-track .simplebar-scrollbar.visible:before {
    /* When hovered, remove all transitions from drag handle */
    opacity: .8;
    transition: opacity 0 linear;
}

.simplebar-track.vertical {
    top: 0;
}

.simplebar-track.vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
}



/* Rtl support */
[data-simplebar-direction="rtl"] .simplebar-track {
    right: auto;
    left: 0;
}


@media only screen and (max-width: 1044px) {
  .left-sidebar{
    float: left;
    background-color: black;
    color: white;
    padding-top:20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;

  }

}
@media only screen and (max-width: 1044px) {
  .left-sidebar{
    float: left;
    background-color: black;
    color: white;
    padding-top:20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;

  }

}
@media only screen and (max-width: 1028px) {
  .contactheader{
    display: none;

    }

}
@media only screen and (max-width: 992px) {
  .mainq{
    margin-top: 20px;
    margin-left: 230px;
    margin-right: auto;
    max-width: 700px;

  }
  .but-wrap{
  white-space: normal !important;
      max-width:350px;
  }
  .left-sidebar{
    float: left;
    background-color: black;
    color: white;
    padding-top:20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;

  }
  .Restart{

  }
}
@media only screen and (max-width: 768px) {
  .mainq{


  }

  .contactheader{
    display: none;
      font-size: 16px;
      float: right;
      padding-right: 20px;
      padding-top: 15px;
    }
  .Restart{

  margin-top: 33px;}
  .left-sidebar{
    padding-right: 4px;

  }
}

@media only screen and (max-width: 696px) {
  .titlehide{
  display: none;
  }

}
@media only screen and (max-width: 803px) {
  .left-sidebar{
  padding-bottom: 20px;
    padding-left: 10px;
    position: inherit;
    height: auto;
    bottom: inherit;
    border-radius: 0;
  float:none;

  margin-left: auto;
  margin-top: auto;
  width: 100%;
  }
  .openlog{
    float: none;
    background-color: black;
    color: white;

    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
  width: 100%;
  height: 120vh;

  }
}
@media only screen and (max-width: 950px) {
  .left-sidebar{
  padding-bottom: 20px;
    padding-left: 10px;
    position: inherit;
    height: auto;
    bottom: inherit;
    border-radius: 0;
  float:none;

  margin-left: auto;
  margin-top: auto;
  width: 100%;
  }
  .openlog{
    float: none;
    background-color: black;
    color: white;

    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
  width: 100%;
  height: 120vh;

  }
}
@media only screen and (max-width: 655px) {

  .mainq{
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    max-width: 300px;

  }
  .contactheader{
display: none;
    font-size: 16px;
    float: right;
    padding-right: 20px;
    padding-top: 15px;
  }


  .left-sidebar{
padding-bottom: 20px;
    padding-left: 10px;
    position: inherit;
    height: auto;
    bottom: inherit;
    border-radius: 0;
float:none;

margin-left: auto;
margin-top: auto;
width: 100%;
  }
  .openlog{
    float: none;
    background-color: black;
    color: white;

    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
  width: 100%;
  height: 120vh;

  }
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {


  .left-sidebar{
    padding-bottom: 20px;
        padding-left: 10px;
        position: inherit;
        height: auto;
        bottom: inherit;
        border-radius: 0;
    float:none;
    margin-left: 0px;
    margin-top: 0px;
  }}
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {
  .left-sidebar{
    padding-bottom: 20px;
        padding-left: 10px;
        position: inherit;
        height: auto;
        bottom: inherit;
        border-radius: 0;
    float:none;
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
    .left-sidebar{
padding-bottom: 20px;
    padding-left: 10px;

    height: auto;
float:none;
width: 100%;
  }}
  @media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
  .left-sidebar{
  padding-bottom: 20px;
  padding-left: 10px;

  height: auto;
  float:none;
  width: 100%;
}}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {   .left-sidebar{
  padding-bottom: 20px;
  padding-left: 10px;

  height: auto;
  float:none;
  width: 100%;
}}
