
.imgpic{
  width: 250px;
  margin-left: 20px;
  margin-right: 25px;

}

.Restart{
float:right;
margin-right: 7px;
margin-top: 10px;}

.format{
}
  .color{
    color:  #DC4405;
  }
.titlebg{


  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -.25px;
  font-family: 'Stratum2Web',sans-serif;


color:  white;
  background-color:  #DC4405;
}



.tabbing{
list-style: none;
padding: 0;
}

.q-title{
margin-bottom: 50px;
padding-top: 10px;
}
.log{

}


.fullback{

}

.title{
  font-size: 25px;

}
.left-sidebar{
  float: left;
  background-color: black;
  color: white;
  padding-top:20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px;
  height: 100vh;

}

.bod{
margin-top: 20px;
}
#pdf{
  font-size: 16px;
  color: white;
  height: auto;
     max-height: 380px;
     overflow: auto;

     word-break: normal !important;
     word-wrap: normal !important;
     white-space: pre !important;
}
.logcontainer{

}
.header{
  list-style: none;
  text-align: center;
}
.space{
display: inline-block;
margin-right: 5px;
margin-bottom: 5px;
}
.Hide_but{

  margin-top: 10px;
  float: right;
}

.buttonmarg{
  margin-right: 5px;
}
p{
  font-family: "Georgia";
}
.warning{

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em
}
.mainq{
  margin-top: 20px;
  margin-left: 350px;
  margin-right: auto;
  max-width: 1000px;
}
.openlog{
  float: right;
  background-color: black;
  color: white;
  padding-top:20px;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
width: 100%;
height: 100vh;

}
.contactheader{
  font-size: 16px;
  float: right;
  padding-right: 20px;
  padding-top: 15px;
}
.contactlog{
  font-size: 16px;
  margin-top: 30px;
  text-align: center;

}
.new{
  display: inline-block;

}
.newt{
  display: inline-block;
  float: right;
  margin-right: 7px;
}
.endbuttons{
  list-style: none;
}
.reset{
width: 133px;

}
.finalsteps{
  padding-bottom: -20px;

}
@media only screen and (max-width: 992px) {
  .mainq{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: auto;
    width: 500px;

  }
  .Restart{

    position: absolute;
     top: 130px;
     right: 10px;

  margin-top: 10px;}
}
@media only screen and (max-width: 768px) {
  .mainq{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: auto;
    width: 370px;

  }
  .contactheader{
      visibility: hidden;
      font-size: 16px;
      float: right;
      padding-right: 20px;
      padding-top: 15px;
    }
  .Restart{


  margin-top: 20px;}

}
@media only screen and (max-width: 600px) {
  .mainq{
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    max-width: 300px;

  }
  .contactheader{
    visibility: hidden;
    font-size: 16px;
    float: right;
    padding-right: 20px;
    padding-top: 15px;
  }
  .Restart{


}

  .left-sidebar{
padding-bottom: 20px;
    padding-left: 10px;
    height: auto;
float:none;
width: 100%;
  }
}
