.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.imgpic{
  width: 250px;
  margin-left: 20px;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Restart{
float:right;
margin-right: 7px;
margin-top: 10px;}

.format{
}
  .color{
    color:  #DC4405;
  }
.titlebg{

  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open Sans",sans-serif;

color:  white;
  background-color:  #DC4405;
}

.osuimg{
  margin-left: -25px;
}
.link {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.link .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;

}
.link .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.link:hover .tooltiptext {
    visibility: visible;
}
.tooltiptext{
  font-size: 9px;
}
.tabbing{
list-style: none;
margin-left: 0;

}

.q-title{

}
.log{
  float: right;
  background-color: black;
  color: white;
  margin-top: -8px;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
margin-left: 20px;
  margin-top: -9px;

height: 100vh;
}
.together{
list-style-type: none;
}

.fullback{

}

.title{

  float: left;
  background-color: black;
  color: white;
  margin-top: -8px;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
margin-right: 20px;
  margin-top: -9px;


height: 100vh;
}

.link{
  color:white;
}
.link:hover{
  color:white;
}
.bod{

}
.loginfo{
  font-size: 16px;
  color: white;

}
.logcontainer{
max-width:700px;
}
.header{
  list-style: none;

}
.space{
display: inline-block;
margin-left: 4px;
margin-bottom: 4px;
}
.Hide_but{
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
}
.left-sidebar1{
  position:absolute;
      left:0; top:92px; bottom: 0;
      width: 178px;
}
.heading1{
  position:absolute;
      left:0; right:0;
      height: 92px;
}
.main-body1{
  position: absolute;
      left:178px; top:92px; right:0; bottom:0;
}
